<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <title>Inventory Manager | Edit</title>
  </head>
  <body>
    {% load crispy_forms_tags %}
    <div class="container-fluid">
      <div class="row mb-3 pl-1">
        <h1>Inventory Manager</h1>
      </div>

      <div class="row">
        <div class="col-12">
          <h2>Edit</h2>
        </div>
        <div class="col-12">
          <p>
            You are editing the following item. Enter the updated info to the
            form below, and click Update to apply changes. Click Cancel to go
            back.
          </p>
          <form action="{% url 'edit_inventory' item.id %}" method="post">
            {% csrf_token %} {{ form|crispy }}
            <button type="submit" class="btn btn-primary">UPDATE</button>
            <a href="{% url 'home' %}" class="btn btn-primary">CANCEL</a>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
