<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <title>Inventory Manager</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row mb-3 pl-1">
        <h1>Inventory Manager</h1>
      </div>

      <div class="row">
        <div class="col-8">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Unit Price</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for item in inventory %}
                <tr>
                  <th scope="row">{{ item.id }}</th>
                  <td>{{ item.name }}</td>
                  <td>{{ item.quantity }}</td>
                  <td>{{ item.unit_price }}</td>
                  <td>Edit | Delete</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="col-4">
            <h5>Add Inventory Item</h5>
            <form action="" method="post">
                <div class="form-group">
                    <label for="name">Item Name:</label>
                    <input type="text" name="name" id="name">
                </div>
                <div class="form-group">
                    <label for="quantity">Quantity:</label>
                    <input type="text" name="quantity" id="quantity">
                </div>
                <div class="form-group">
                    <label for="unit-price">Unit Price:</label>
                    <input type="text" name="unit-price" id="unit-price">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
      </div>
    </div>
  </body>
</html>
